<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HDFS File upload</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">HDFS File upload</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDefault">
        </div>
    </nav>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <input id="file" type="file" class="form-control-file"/>
                    </div>
                    <button id="upload" type="button" class="btn btn-primary">Upload</button>
                </form>
            </div>
            <div id="filesize" class="col-md-6"></div>
        </div>
        <div class="row">
            <div id="progress-wrp" class="col-md-6" style="visibility:hidden">
                <div class="progress-bar"></div>
                <div class="status">0%</div>
            </div>
        </div>
        <div id="status" class="container-fluid"></div>
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/main.js"></script>
</body>

</html>